{% extends "layout.html" %}

{% block title %}
    Explore
{% endblock %}

{% block main %}

    <h4>Explore pictures on Travel Tales here!</h4>

<div class="well">
    <div class="row">
        {% for photo in photos %}
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                    <img alt="100%x200" src="{{ url_for('static', filename='upload_images/' + photo.photo_location) }}"  data-holder-rendered="true" style="height: 300px; width: 300px; display: block;">
                    <div class="caption">
                            <h4><p>@{{ userdict[photo.user_id] }}</p></h4>
                        <figcaption class="caption", style="float: left; margin-right: 0%; margin-bottom: 0em;"> {{ photo.caption }} </figcaption>
                        <p>
                            <form action="{{ url_for('explore') }}" method="post">
                                <button class="btn btn-danger btn-sm" name="likeknop" value={{ photo.photo_id }} type="submit">
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                </button>
                            </form>
                        </p>
                        <p>
                        <fieldset>
                            <form action="{{ url_for('explore') }}" method="post">
                                <div class="form-group">
                                    <input type="textarea" rows="20" cols="30" name="comment" placeholder="Write a comment about this photo"/>
                                </div>
                                <p>
                                    <button class="btn btn-default" name="commentknop" value={{ photo.photo_id }} type="submit">Comments</button>
                                </p>
                            </form>
                        </fieldset>
                        </p>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
