{% extends "layout.html" %}

{% block title %}
    Explore
{% endblock %}

{% block main %}

    <h4>Explore pictures on Travel Tales here!</h4>
    <div>
    {% for location in photo_locations %}
        <img alt="photo" src="{{ url_for('static', filename='upload_images/' + location) }}", style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em; width:355px; height:355px;" />

    {% endfor %}
    {% for photo_caption in captions %}
        <p {{ caption }} />
    {% endfor %}
    </div>


{% endblock %}
