{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <h4>Profile page</h4>
    {% for username in usernames %}
    <p>@{{ username }}</p>
    {% endfor %}
    {% for location in photo_locations %}
    <div>
        <img alt="photo" src="{{ url_for('static', filename='upload_images/' + location) }}", style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;" />
        {% for username_ in captions %}
        <p>@{{ username}}: {{ caption }} </p>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}